footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px 0;
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;


    img {
        height: 39.44px;
        margin-bottom: 16px;
    }

    .copyright {
        padding: 6px;
    }
}